*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#anime {
  background: blue;
  width: 300px;
  height: 300px;
  
  color: #fff;
  text-align: center;
  margin:1rem auto;
}
.eside{
  background: cyan;
  color: gray;
  width: 300px;
  height: 300px;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.eside ul{
  list-style-type: none;
  font-size: 20px
}
.eside ul li{
  display: block;
  line-height: 30px;
}
.eside ul a{
  color: #000;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
